<div class="cartBox container">

    <!-- <app-loader *ngIf="isLoading"></app-loader> -->

    <h1 class="text-danger"> Корзина </h1>

    <div class="my-2 w-md-25 valuta2" fxLayout="column" fxLayoutGap="10px">
        <p class="my-1">ВИБІР ВАЛЮТИ:</p>   
        <select class="form-control mt-2" [(ngModel)]="selectedCurrency" (change)="updateConvertedPrices()">
            <option *ngFor="let currency of currencies" [value]="currency">
                {{ currency }}
            </option>
        </select>           
    </div>

    <br>

    <div class="headCart">
        <p class="lead">Ви маєте
            <label class="text-danger">{{ cartProducts.length }}</label>
            покупки у вашій корзині
        </p>
        <span class="text-danger cad-header" (click)="clearCart()">Очистити корзину</span>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="table-xs-tabs">
                    <th></th>
                    <th> Назва </th>
                    <th> Ціна </th>
                    <th style="width: 25%;"> Кількість </th>
                    <th> Всього </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartProducts; let index = index">
                    <td><img src="{{item.image}}" alt=""></td>
                    <td> {{item.title}} </td>
                    <td style="width: 100px;"> {{item.convertedPrice | number:'1.2-2'}}  {{ selectedCurrency }}</td>
                    <td>
                        <div class="quantity" fxLayout="row" fxLayoutAlign="center">
                            <button class="btn btn-dark" (click)="addAmount(index)"> + </button>
                            <input type="number" class="form-control mx-2" style="width: 50px;"
                                (change)="detectChange()"
                                [value]="1"
                                min="0" max="100" 
                                [(ngModel)]="item.quantity">
                            <button class="btn btn-dark" (click)="minsAmount(index)"> - </button> 
                        </div>
                    </td>
                    <td style="width: 100px;"> {{(item.convertedPrice * item.quantity) | number:'1.2-2'}} {{ selectedCurrency }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteProduct(index)"> Видалити </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end align-items-center my-4 fw-bold">
            <div class="mx-2"> Total : {{ total | number:'1.2-2' }}   {{ selectedCurrency }} </div>
            <div>
                <button class="btn btn-success" (click)="clearCart()"> Зробити заказ </button>
            </div>
    </div>
</div>
