<!-- <p>cart works!</p> -->
<div class="cartBox">
    <h1 class="text-danger"> Кошик </h1>
    <div class="headCart">
        <p class="lead"> Ви маєте <label class="text-danger"> {{ cartProducts.length }} </label> покупки у вашій корзині</p>
        <span class="text-danger cad-header" (click)="clearCart()"> Очистити корзину </span>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th> Назва </th>
                <th> Ціна </th>
                <th style="width: 25%;"> Кількість </th>
                <th> Всього </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cartProduct of cartProducts; let i = index">
                <td><img src="{{cartProduct.image}}" alt=""></td>
                <td> {{cartProduct.title}} </td>
                <td> {{cartProduct.price}} ₴</td>
                <td>
                    <div class="quantity">
                        <button class="btn btn-dark" (click)="addAmount(i)"> + </button>
                        <!-- <input type="number" class="form-control"
                        (change)="detectChange()"
                        [(ngModel)]="value"
                        [(ngModel)]="cartProduct.quantity"
                        min="0" max="100" 
                        > -->
                        {{count}}
                        <button class="btn btn-dark" (click)="minsAmount(i)"> - </button> 
                    </div>
                </td>
                <td> {{ cartProduct.price * cartProduct.quantity}} ₴ </td>
                <!-- <td> {{ item.price * item.itemCount}} </td> -->
                <td>
                    <button class="btn btn-danger" (click)="deleteProduct(i)"> Видалити </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th> Total : {{ total }} ₴ </th>
                <th>
                    <button class="btn btn-success" (click)="clearCart()"> Order Now </button>
                </th>
            </tr>
        </tfoot>
    </table>

</div>
<!-- [(ngModel)]="item.quantity"  -->


<!-- <div *ngIf="isSend" class="alert alert-success" role="alert">
    <strong> Well Done!!!</strong> Your order is Successfully Send
</div>  -->


