<!-- <p>header works!</p> -->
<header>
    <nav>
        <div class="container xs-block">
            <div class="content">
                <h2 class="logo" routerLink="/products" style="cursor: pointer;">phonelab</h2>
            <ul class="d-none d-sx-none d-sm-none d-md-flex d-lg-flex">
                <li routerLink="/products"> Товари </li>
                <li class="mx-3" routerLink="/admin"> Адмін </li>  
                <!-- <li routerLink="/carts" class="cart_icon" >
                    <i class="fa-solid fa-cart-shopping" (click)="goToCart()"></i> 
                    <div class="countIcon"> 
                        <p>{{ cartProducts.length }} </p>
                    </div>
                </li>                -->
            </ul>
            <div class="d-flex justify-content-end">
                <div routerLink="/carts" class="cart_icon" >
                    <i class="fa-solid fa-cart-shopping" (click)="goToCart()"></i> 
                    <div class="countIcon d-flex justify-content-center align-items-center mt-2"> 
                        <span>{{ cartProducts.length }} </span>                                      
                    </div>
                </div>
                <div style="margin-left: 40px;" class="d-lg-none d-md-none d-block d-sm-block d-sm-block container-fluid navbar-dark">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MENU -->
    <div class="collapse d-md-none d-lg-none" id="navbarToggleExternalContent">
        <div style="background-color: white;" class="p-4 d-flex justify-content-center text-center">
            <ul class="d-block" style="margin: 0 40px 0 0;">
                <li style="color:  black; margin-left: -10px" routerLink="/products"> Товари </li>
                <li style="color:  black;margin-top: 20px;" routerLink="/admin"> Адмін </li>  
                <!-- <li routerLink="/carts" class="cart_icon" >
                    <i class="fa-solid fa-cart-shopping" (click)="goToCart()"></i> 
                    <div class="countIcon"> 
                        <p>{{ cartProducts.length }} </p>
                    </div>
                </li>                -->
            </ul>
        </div>
    </div>
    </nav>
</header>