<!-- <p>all-products works!</p> -->

<!-- <main class="box mt-5 "> -->
<main class="container d-flex justify-content-center dblocks mt-5"> 
    <!-- <div class="d-flex "> -->
        <div class=" d-flex justify-content-start w-25">
            <div class="my-2 w-75">
                <label for="" class="my-1"> ФІЛЬТР: </label>
                <select class="form-control mt-2"  
                    [(ngModel)]="selectedFilter" 
                    (change)="filterItems()"
                    (change)="onFilterChanged()">
                        <option value="all"> Всі товари </option>             
                        <option value="categoria"> Категорія </option>
                        <option value="title"> Назва </option>
                        <option value="price"> Ціна </option>
                </select>
                <input type="text" 
                        [(ngModel)]="filterText" 
                        (input)="filterItems()"              
                        placeholder="Пошук товарів"
                        class="form-control mt-2">
            </div>
        </div>

        <div class="d-flex justify-content-center w-75">
            <div class="row w-100  d-flex justify-content-around row-cols-5" >  

                <!-- CARDS -->
                <!-- <div> -->
                    <div class="col-md-3 col-sm-12" style="width: 250px;" *ngFor="let item of filteredItems let card of filteredItems; let productId = index">
                        <div class="item">
                                <!-- routerLink="/aboutPhones" -->
                                <div (click)="goToProductDetails(productId+1)">
                                    <div class="d-flex justify-content-center mt-2">
                                        <img class="card-img-top" src="{{item.image}}" style="height: 150px;width: auto;" alt="">
                                    </div>
                                    
                                    <div class="body_cards">
                                        <h4 class="main__container-card-info card-title" style="height: 60px;font-size: 14px;">{{item.title}}</h4>
                                        <!-- <p>{{item.description}}</p> -->
                                    </div>
                                </div>
                                    <div class="px-3 mb-2 ">
                                        <div class="main__container-card-priceNew card-text mb-2" style="margin-right: 10px; color: black;font-weight: 600;">
                                            <span> ₴ {{item.price}}</span>
                                        </div>
                                        <button class="btn btn-succes bg-dark text-white p-2 w-100 border-0 rounded" (click)="pushProduct(productId+1)" (click)="addCartProduct(item.title,item.price)"> У кошик </button>
                                    </div>
                        </div>
                    </div>
                <!-- </div> -->
        
               
        
               
            </div>

        </div>

    <!-- </div> -->



   
</main>


<!-- <div class="text-center w-100" *ngIf="">
    <app-spinner></app-spinner>
</div> -->




