<div class="item" >

    <app-loader *ngIf="isLoading"></app-loader>


    <!-- <div routerLink="/details/:id"  -->
    <div [routerLink]="['/details', data.id]" 
        [queryParams]="{ selectedCurrency: selectedCurrency }"          
        (click)="goToProductDetails(data.id)"
        >         
    
        <div class="d-flex justify-content-center mt-2">
            <img 
                class="card-img-top" 
                src="{{data.image}} " 
                style="height: 150px; width: auto;" alt="">
        </div>
        
        <div class="body_cards">
            <h4 class="main__container-card-info card-title" 
                style="height: 60px;font-size: 14px;"
                >
                {{ data.title }}
            </h4>            
            <!-- <p>{{data.description}}</p> -->
        </div> 
    </div>


    <div class="px-3 mb-2 ">    


        <div class="main__container-card-priceNew card-text mb-2" 
            style="margin-right: 10px; color: black;font-weight: 600;">
            <!-- <span> ₴ {{data.price}} </span> -->
            <span> {{ selectedCurrency }} {{ convertPrice(data.price) | number:'1.2-2' }} </span>
            <!-- <span> {{ selectedCurrency }} {{ data.convertedPrice | number:'1.2-2' }} </span> -->
        </div>    

        <div>
            <button 
                class="btn btn-succes bg-dark rounded p-2 border-0"               
                (click)="add()">
                 У кошик 
            </button>
        </div>
    </div>
  

    


    
    

</div>

